<!DOCTYPE html>
<html 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body>
    <header th:fragment="header">
		<nav class="navbar navbar-expand-md bg-dark navbar-dark">
			<a class="navbar-brand" href="#">Home</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse d-flex " id="collapsibleNavbar">
				<ul class="navbar-nav">
					<li class="nav-item">
						<a class="nav-link" th:href="@{/post/list/0}">커뮤니티</a>
					</li>
				</ul>
				<ul class="navbar-nav" sec:authorize="isAnonymous()">
					<li class="nav-item" >
						<a class="nav-link" th:href="@{/login}">로그인</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" th:href="@{/signup}">회원가입</a>
					</li>  
				</ul>
				<ul class="navbar-nav" sec:authorize="isAuthenticated()">
					<li class="nav-item" >
						<form th:action="@{/logout}">
							<button class="nav-link btn" type="submit">로그아웃</button>
						</form>
					</li>
				</ul>
			</div>  
		</nav>
    </header>
</body>
</html>
