<!DOCTYPE html>
<html 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	layout:decorate="~{layout/layout.html}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<main layout:fragment="content">
		<div>
	        <p>안녕하세요, <span th:text="${#authentication.principal.member}"></span>님!</p>
	        <p>권한: <span th:text="${p != null ? p.getName() : ''}"></span></p>
	        <th:block sec:authorize="isAnonymous()">
		    	<!-- 인증 받지 않음 -->
		    <a href="/account/login" class="btn btn-outline-grey">로그인</a>
		    <a href="/account/register" class="btn btn-primary">회원가입</a>
		  </th:block>
	    </div>
	    <form action="/logout" method="post">
	    	<button>로그아웃</button>
	    </form>
	</main>
</body>
</html>