<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.kh.boot.dao.PostDAO">
    
    <select id="selectPostList" resultType="PostVO">
    	select * from post 
    	where po_co_num = #{co_num}
    	order by po_num desc
    	limit #{pageStart}, #{perPageNum}
    </select>
    <select id="selectCommunityList" resultType="CommunityVO">
    	select * from community
    </select>
    <select id="selectCountPostList" resultType="int">
    	select count(*) from post where po_co_num = #{co_num}
    </select>
    <select id="selectPost" resultType="PostVO">
    	select * from post where po_num = #{po_num}
    </select>
</mapper>