<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="db.community.dao.PostDAO">
	<select id="selectCommunity" resultType="CommunityVO">
		select * from community where co_name = #{co_name}
	</select>
	<insert id="insertCommunity">
		INSERT INTO COMMUNITY(CO_NAME) VALUES(#{co_name})
	</insert>
	
	<update id="updateCommunity">
		UPDATE COMMUNITY SET CO_NAME = #{vo.co_name} WHERE CO_NUM = #{vo.co_num}
	</update>
	<delete id="deleteCommunity">
		DELETE FROM COMMUNITY WHERE CO_NAME = #{co_name}
	</delete>
	<select id="selectCommunityList" resultType="CommunityVO">
		select * from community order by co_num
	</select>
	<insert id="insertPost" useGeneratedKeys="true" keyProperty="po.po_num">
		INSERT INTO POST(PO_TITLE, PO_CONTENT, PO_ME_ID, PO_CO_NUM)
		VALUES(#{po.po_title}, #{po.po_content}, #{po.po_me_id}, #{po.po_co_num})
	</insert>
	<select id="selectPostList" resultType="PostVO">
		select * from post 
		where po_co_num = #{cri.coNum} and po_title like concat('%', #{cri.search} ,'%')
		limit #{cri.pageStart}, #{cri.perPageNum}
	</select>
	
	<select id="selectPost" resultType="PostVO">
		select * from post where po_num = #{po_num}
	</select>
	<select id="selectPostListCount" resultType="int">
		select count(*) from post 
		where po_co_num = #{cri.coNum} and po_title like concat('%', #{cri.search} ,'%')
	</select>
	<delete id="deletePost">
		delete from post where po_num = #{po_num}
	</delete>
	<update id="updatePost">
		update post set
			po_title = #{po.po_title},
			po_content = #{po.po_content}
		where
			po_num = #{po.po_num}
	</update>
	<insert id="insertComment">
		INSERT INTO COMMENT(CM_NUM, CM_CONTENT, CM_PO_NUM, CM_ORI_NUM, CM_ME_ID)
		SELECT 
			IFNULL(MAX(CM_NUM), 0) + 1, #{co.cm_content}, #{co.cm_po_num}, 
			IFNULL(MAX(CM_NUM), 0) + 1 , #{co.cm_me_id} 
		FROM COMMENT
	</insert>
	<select id="selectCommentList" resultType="CommentVO">
		select * from comment where cm_po_num = #{po_num}
	</select>
	<update id="updatePostView">
		update post set po_view = po_view + 1 where po_num = #{po_num}
	</update>
</mapper>


