<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="db.community.dao.PostDAO">
	<select id="selectCommunity" resultType="CommunityVO">
		select * from community where co_name = #{co_name}
	</select>
	<insert id="insertCommunity">
		INSERT INTO COMMUNITY(CO_NAME) VALUES(#{co_name})
	</insert>
	
	<update id="updateCommunity">
		UPDATE COMMUNITY SET CO_NAME = #{vo.co_name} WHERE CO_NUM = #{vo.co_num}
	</update>
	<delete id="deleteCommunity">
		DELETE FROM COMMUNITY WHERE CO_NAME = #{co_name}
	</delete>
</mapper>


