<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="db.student.dao.ScoreDAO">
	<select id="selectScore" resultType="ScoreVO">
		select * from score 
		where
			sc_st_key = #{st_key} 
			and sc_su_key = #{su_key}
	</select>
	<insert id="insertScore">
		insert into score(sc_midTerm, sc_finalTerm, sc_performance, sc_st_key, sc_su_key)
		values(
			#{score.sc_midTerm},
			#{score.sc_finalTerm},
			#{score.sc_performance},
			#{score.sc_st_key},
			#{score.sc_su_key})
	</insert>
	<delete id="deleteScore">
		delete from score 
		where
			sc_st_key = #{st_key} 
			and sc_su_key = #{su_key} 
	</delete>
	<update id="updateScore">
		update score 
		set
			sc_midTerm = #{score.sc_midTerm},
			sc_finalTerm = #{score.sc_finalTerm},
			sc_performance = #{score.sc_performance}
		where
			sc_st_key = #{score.sc_st_key}
			and sc_su_key = #{score.sc_su_key}
	</update>
</mapper>


