<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.kh.app.dao.PostDAO">

	<select id="selectCommunityList" resultType="CommunityVO">
		select * from community
	</select>
	<select id="selectCommunity" resultType="CommunityVO">
		select * from community where co_num = #{co_num}
	</select>
	
	<select id="selectPostList" resultType="PostVO">
		select * from post 
		where po_co_num = #{cri.co_num}
		<choose>
			<when test="cri.type == 'title'">
				and po_title like concat('%',#{cri.search}, '%')
			</when>
			<when test="cri.type == 'writer'">
				and po_me_id = #{cri.search}
			</when>
			<otherwise>
				and (po_title like concat('%',#{cri.search}, '%')
				or po_me_id = #{cri.search})
			</otherwise>
		</choose>
		order by po_num desc
		limit #{cri.pageStart}, #{cri.perPageNum}
	</select>
	<select id="selectPostTotalCount" resultType="int">
		select count(*) from post 
		where po_co_num = #{cri.co_num}
		<choose>
			<when test="cri.type == 'title'">
				and po_title like concat('%',#{cri.search}, '%')
			</when>
			<when test="cri.type == 'writer'">
				and po_me_id = #{cri.search}
			</when>
			<otherwise>
				and (po_title like concat('%',#{cri.search}, '%')
				or po_me_id = #{cri.search})
			</otherwise>
		</choose>
	</select>
	<select id="selectPost" resultType="PostVO">
		select * from post where po_num = #{po_num}
	</select>
	<update id="updatePostView">
		update post set po_view = po_view + 1 where po_num = #{po_num}
	</update>
	<insert id="insertPost">
		insert into post(po_co_num, po_title, po_content, po_me_id)
		values(#{post.po_co_num},#{post.po_title},#{post.po_content},#{post.po_me_id})
	</insert>
</mapper>