<!DOCTYPE html>
<html 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	layout:decorate="~{layout/layout.html}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<main layout:fragment="content">
		<div th:object="${post}">
			<div class="form-group">
				<label>제목:</label>
				<input type="text" class="form-control" readonly
					th:field="*{po_title}">
			</div>
			<div class="form-group">
				<label>작성자:</label>
				<input type="text" class="form-control" readonly
					th:field="*{po_me_id}">
			</div>
			<div class="form-group">
				<label>작성일:</label>
				<input type="text" class="form-control" readonly
					name="po_date"
					th:value="*{#dates.format(po_date, 'yyyy-MM-dd HH:mm:ss')}">
			</div>
			<div class="form-group">
				<label>조회수:</label>
				<input type="text" class="form-control" readonly
					th:field="*{po_view}">
			</div>
			<div class="form-group">
				<label>내용:</label>
				<div class="form-control" style="min-height: 400px; height: auto;"
					th:utext="*{po_content}">
				</div>
			</div>
			<a class="btn btn-outline-info" th:href="@{/post/list/{co_num}(co_num=*{po_co_num})}">목록으로</a>
			<a class="btn btn-outline-info" th:href="@{/post/update/{po_num}(po_num=*{po_num})}">수정</a>
			<a class="btn btn-outline-info" 
				th:href="@{/post/delete/{co_num}/{po_num}(po_num=*{po_num}, co_num=*{po_co_num})}">삭제</a>
		</div>
	</main>
</body>
</html>