<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.kh.spring.dao.PostDAO">
	<select id="selectCommunityList" resultType="CommunityVO">
		select * from community order by co_num
	</select>
	<select id="selectPostList" resultType="PostVO">
		select * from post 
		where po_co_num = #{cri.co_num}
		<choose>
			<when test="cri.type == 'title'">
			and po_title like concat('%', #{cri.search} ,'%')
			</when>
			<when test="cri.type == 'id'">
			and po_me_id = #{cri.search}
			</when>
			<otherwise>
			and (po_title like concat('%', #{cri.search} ,'%') or po_me_id = #{cri.search})
			</otherwise>
		</choose>
		order by po_num desc
		limit #{cri.pageStart}, #{cri.perPageNum}
	</select>
	<select id="selectPostTotalCount" resultType="int">
		select count(*) from post 
		where po_co_num = #{cri.co_num}
		<choose>
			<when test="cri.type == 'title'">
			and po_title like concat('%', #{cri.search} ,'%')
			</when>
			<when test="cri.type == 'id'">
			and po_me_id = #{cri.search}
			</when>
			<otherwise>
			and (po_title like concat('%', #{cri.search} ,'%') or po_me_id = #{cri.search})
			</otherwise>
		</choose>
	</select>
	<insert id="insertPost" keyProperty="post.po_num" useGeneratedKeys="true">
		insert into post(po_title, po_content, po_co_num, po_me_id)
		values(#{post.po_title},#{post.po_content},#{post.po_co_num},#{post.po_me_id})
	</insert>
	<insert id="insertFile">
		insert into file(fi_name, fi_ori_name, fi_po_num)
		values(#{file.fi_name},#{file.fi_ori_name},#{file.fi_po_num})
	</insert>
	<update id="updateView">
		update post set po_view = po_view + 1 where po_num = #{po_num}
	</update>
	<select id="selectPost" resultType="PostVO">
		select * from post where po_num = #{po_num}
	</select>
	<select id="selectFileList" resultType="FileVO">
		select * from file where fi_po_num = #{po_num}
	</select>
</mapper>