<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.kh.app.dao.PostDAO">

	<select id="selectCommunityList" resultType="CommunityVO">
		select * from community order by co_num
	</select>
	<select id="selectCommunity" resultType="CommunityVO">
		select * from community where co_num = #{co_num}
	</select>
	<select id="selectPostList" resultType="PostVO">
		select post.*, 
		    count(if(re_state=1, re_state, null)) po_up,
		    count(if(re_state=-1, re_state, null)) po_down 
		from post 
		LEFT JOIN
		    recommend ON po_num = re_po_num
		where po_co_num = #{cri.co_num}
		<if test="cri.type == 'all'">
		and (po_title like concat('%', #{cri.search},'%') or po_me_id = #{cri.search})
		</if>
		<if test="cri.type == 'title'">
		and po_title like concat('%', #{cri.search},'%')
		</if>
		<if test="cri.type == 'id'">
		and po_me_id = #{cri.search}
		</if>
		GROUP BY po_num 
		order by po_num desc
		limit #{cri.pageStart}, #{cri.perPageNum}
	</select>
	<select id="selectPostTotalCount" resultType="int">
		select count(*) from post where po_co_num = #{cri.co_num}
		<if test="cri.type == 'all'">
		and (po_title like concat('%', #{cri.search},'%') or po_me_id = #{cri.search})
		</if>
		<if test="cri.type == 'title'">
		and po_title like concat('%', #{cri.search},'%')
		</if>
		<if test="cri.type == 'id'">
		and po_me_id = #{cri.search}
		</if>
	</select>
	<insert id="insertPost">
		insert into post(po_co_num, po_me_id, po_title, po_content)
		values(#{post.po_co_num},#{post.po_me_id},#{post.po_title},#{post.po_content})
	</insert>
	<select id="selectPost" resultType="PostVO">
		SELECT 
		    post.*, 
		    count(if(re_state=1, re_state, null)) po_up,
		    count(if(re_state=-1, re_state, null)) po_down
		FROM
		    post
		        LEFT JOIN
		    recommend ON po_num = re_po_num
		WHERE po_num = #{po_num}
		GROUP BY po_num 
	</select>
	<update id="updatePostView">
		update post set po_view = po_view + 1 where po_num = #{po_num}
	</update>
	<update id="updatePost">
		update post 
		set 
			po_title = #{post.po_title},
			po_content = #{post.po_content}
		where
			po_num = #{post.po_num}
	</update>
	<delete id="deletePost">
		delete from post where po_num = #{po_num}
	</delete>
	<select id="selectRecommend" resultType="RecommendVO">
		select * from recommend where re_me_id = #{re.re_me_id} and re_po_num = #{re.re_po_num}
	</select>
	<delete id="deleteRecommend">
		delete from recommend where re_num = #{re_num}
	</delete>
	<insert id="insertRecommend">
		insert into recommend(re_me_id, re_po_num, re_state)
		values(#{re.re_me_id},#{re.re_po_num},#{re.re_state})
	</insert>
	<select id="selectCommentList" resultType="CommentVO">
		select * from comment where cm_po_num = #{cri.po_num}
		order by cm_ori_num desc, cm_num asc
		limit #{cri.pageStart}, #{cri.perPageNum}
	</select>
	<select id="selectCommentTotalCount" resultType="int">
		select count(*) from comment where cm_po_num = #{cri.po_num}
	</select>
</mapper>